# Dependencies
node_modules/

# Production builds
dist/
build/

# Types
.tsbuildinfo

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
drizzle/

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System and logs
*.log
.DS_Store
Thumbs.db
